# gitignore for web_gl tests

volume/
cells/
data/connsData
data/node_modules
data/conns.csv
data/conns.csv.zip
data/meshes
data/parsedData
data/parsedDataTransform
data/parsedDataTransform2
data/parsedDataTransform3
data/parsedDataTransform4

